@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff6347;
  border-radius: 10px;
}